// Background setting
@mixin background(
  $size: cover,
  $position-x: center,
  $position-y: center,
  $repeat: no-repeat
) {
  background-size: $size;
  background-position: $position-x $position-y;
  background-repeat: $repeat;
  @content;
}

// Different breakpoints format
@mixin breakpoint-phone {
  @media screen and (max-width: $width-phone) {
    @content;
  }
}

@mixin breakpoint-pc {
  @media screen and (min-width: $width-pc) {
    @content;
  }
}

// Placeholder
%margin-center {
  margin-left: auto;
  margin-right: auto;
}

%uppercase {
  text-transform: uppercase;
}

%linkreset {
  text-decoration: none;
}