@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* 62.5% to set 1rem to 10px */
  font-size: 62.5%;
}

/* Mixins to manage responsiveness */
/* @mixin breakpoint($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
  }
} */
.feature__link {
  text-transform: uppercase;
}

.feature__link {
  text-decoration: none;
}

/* Colors */
/* Fonts */
@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9em 0;
}

.feedback h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  color: #a6a8ab;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 4.5em;
}

.client__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.client {
  width: 350px;
  text-align: center;
}

.client__image {
  width: 70px;
  border-radius: 100%;
}

.client__feedback {
  font-size: 1.8rem;
  max-width: 350px;
  color: #5b636b;
  margin: 30px auto 75px auto;
  /* Accurate design :) */
  letter-spacing: -0.13px;
  line-height: 1.8em;
}

.client__name {
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: #24303d;
  margin-bottom: 10px;
}

.client__job {
  font-size: 1.4rem;
  color: #7f8294;
}

h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 5.6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8.75px;
  margin-top: 100px;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 4rem;
    color: red;
  }
}

/* NavBar display */
nav {
  width: calc(100vw - (96px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

@media screen and (max-width: 420px) {
  nav li {
    display: none;
  }
}

nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

@media screen and (max-width: 1025px) {
  nav button {
    display: none;
  }
}

.contact {
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #19536b;
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2537);
}

header {
  background: url("/assets/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  height: 100vh;
  text-align: center;
}

.arrow {
  -webkit-animation: upanddown 2.25s infinite;
          animation: upanddown 2.25s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.feature__ {
  width: 50vw;
  height: 600px;
}

.feature__container {
  width: 50vw;
  text-align: left;
  padding: 12.5% 8%;
}

@media screen and (max-width: 420px) {
  .feature__container {
    width: 100vw;
  }
}

@media screen and (max-width: 420px) {
  .feature__image {
    width: 100vw;
  }
}

.feature__heading {
  font-family: "Fraunces", sans-serif;
  font-size: 4rem;
  width: 445px;
  color: #24303d;
}

.feature__text {
  font-size: 1.8rem;
  color: #7f8294;
  padding: 4em 0;
  letter-spacing: -0.13px;
  line-height: 30px;
  width: 445px;
}

.feature__link {
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
  display: inline-block;
  color: #24303d;
  position: relative;
  line-height: 1.6;
  /* Hover state */
}

.feature__link::after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: 0;
  z-index: -1;
  display: block;
  width: calc(100% + 16px);
  border-radius: 100px;
  height: 10px;
  opacity: 0.25;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feature__link:hover::after {
  opacity: 1;
}

.feature__link--yellow::after {
  background-color: #fad400;
}

.feature__link--red::after {
  background-color: #fe7867;
}

.feature__design {
  padding: 400px 30px 50px;
  text-align: center;
  color: #25564b;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/image-graphic-design.jpg");
}

.feature__photography {
  padding: 400px 30px 50px;
  text-align: center;
  color: #19536b;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/image-photography.jpg");
}

.heading {
  font-family: "Fraunces", sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.text {
  max-width: 350px;
  max-height: 180px;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 auto;
  line-height: 27px;
}

.footer {
  background-color: #8dd3c4;
  text-align: center;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer img {
  margin: 6em 1.5em 2.5em 1.5em;
}

.footer img:hover {
  fill: white;
}

.footer__list {
  margin-bottom: 60px;
}

.footer__list--link {
  font-size: 1.8rem;
  color: #2d7668;
  text-decoration: none;
  margin: 0 28px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__list--link:hover {
  color: white;
}

.footer__FEM {
  font-size: 1.75rem;
}

.footer__FEM a {
  color: white;
}

.social {
  margin-bottom: 60px;
}

.social--link {
  padding: 0.75em;
  color: #2d7668;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2rem;
}

.social--link:hover {
  color: white;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #fffbf5;
  color: #19536b;
}

li {
  display: inline;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

aside img {
  width: 25vw;
}
/*# sourceMappingURL=main.css.map */