@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Colors */
/* Fonts */
/* Media query breakpoints */
@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8.75px;
}

/* NavBar display */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5em 2em;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 1.25em;
}

nav img:last-of-type {
  display: none;
}

.contact {
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: #23303e;
  background-color: white;
  padding: 1em 1.5em;
  margin: 0 0 0 1em;
  border-radius: 50px;
}

header {
  background: url("/assets/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  height: 95vh;
  text-align: center;
}

.arrow {
  -webkit-animation: upanddown 2.5s infinite;
          animation: upanddown 2.5s infinite;
}

footer {
  background-color: #8dd3c4;
  text-align: center;
}

footer img {
  padding: 4em 1.5em;
}

footer img:hover {
  fill: white;
}

footer a {
  color: #458c7d;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 1em;
}

footer a:hover {
  color: white;
}

/* Smooth behavior */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #fffbf5;
  color: #23303e;
  font-size: 18px;
}

li {
  display: inline;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.gallery {
  min-width: 400px;
  width: 50vw;
  height: 600px;
}

.gallery h2 {
  font-family: 'Fraunces', serif;
  font-size: 2.2em;
  width: 445px;
}

.gallery p:nth-of-type(1) {
  color: #7f8294;
  padding: 4em 0;
  letter-spacing: -0.13px;
  line-height: 30px;
  width: 445px;
}

.gallery p:nth-of-type(4) {
  color: #7f8294;
  padding: 4em 0;
  letter-spacing: -0.13px;
  line-height: 30px;
  width: 445px;
}

.gallery a {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
}

.info {
  margin: 6em;
}

.gallery.cherry h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.5em;
}

.gallery.orange h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.5em;
}

.cherry {
  background-image: url("./assets/image-graphic-design.jpg");
  text-align: center;
}

.orange {
  background-image: url("./assets/image-photography.jpg");
  text-align: center;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9em 0;
}

.feedback h3 {
  font-family: "Fraunces", sans-serif;
  color: #a6a8ab;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.125em;
  padding-bottom: 4.5em;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

section img {
  width: 72px;
}

.client {
  width: 350px;
  text-align: center;
  margin: 0 30px;
}

.client p {
  color: #5b636b;
  letter-spacing: -0.13px;
  margin: 4.5em auto;
  line-height: 1.8em;
}

.client img {
  border-radius: 100%;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

aside img {
  width: 25vw;
}
/*# sourceMappingURL=main.css.map */