/* @import 'base/resets';
@import 'base/typography';

@import 'helpers/variables';


@import 'layout/header';
@import 'layout/gallery';
 */
/*

li {
	display: inline;
} */

@import 'base/resets';
@import 'base/typography';

@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/animations';

@import 'layout/header';
@import 'layout/client';
@import 'layout/footer';

img {
  vertical-align: middle;
  max-width: 100%;
}

.hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -9999;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header {
  .global-nav {
    margin-bottom: 130px;
    @include breakpoint-pc {
      margin-bottom: 100px;
    }
  }
}

// component-global-nav
.global-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---- if JavaScript is detected ---- */

.js .global-nav__ {
  // create the menu button and show out
  &menu-btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    order: 1;

    @include breakpoint-pc {
      display: none;
    }
  }
  // hide the menu
  &menu {
    display: none;

    @include breakpoint-pc {
      display: flex;
      padding: 0;
      position: static;
      width: auto;
      background-color: transparent;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    // create the triangle
    &::after {
      content: '';
      position: absolute;
      top: -19px;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 20px 20px;
      border-color: transparent transparent #ffffff transparent;

      @include breakpoint-pc {
        display: none;
      }
    }

    // for the toggleMenu()
    &--active {
      display: block;
    }
  }
}

/* ---- if JavaScript is not detected ---- */
.global-nav__ {
  // hide the btn
  &menu-btn {
    display: none;
  }

  // show the menu
  &menu {
    position: absolute;
    width: 100%;
    top: 70px;
    padding: 20px 0;
    background-color: $white;

    // reposition the menu
    @include breakpoint-pc {
      display: flex;
      padding: 0;
      position: static;
      width: auto;
      background-color: transparent;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }

  &item {
    margin: 15px 0;

    @include breakpoint-pc {
      margin: 0 10px;
    }
  }
  &link {
    display: inline-block;
    color: $grayish-white;
    padding: 15px 30px;
    border-radius: 100px;
    @include breakpoint-pc {
      color: $white;
      transition: background-color 0.5s, color 0.5s;
    }

    &--contact {
      font-family: $secondary-font;
      font-weight: $font-weight-medium;
      color: $dark-navy-blue;
      background-color: $white;
      
      @extend %uppercase;

      @include breakpoint-phone {
        background-color: $yellow;
        color: $black;
      }

      @include breakpoint-pc {
        &:hover {
          background-color: $contact-bg-hover;
          color: $white;
        }
      }
    }
    
  }
}

@include breakpoint-pc {
  .feature-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-of-type(odd) {
      .feature-card__ {
        &content {
          order: -1;
        }
      }
    }
  }
}

// component-feature-card
.feature-card__ {
  &content {
    text-align: center;
    padding: 13.3333333333% 8%;
    // padding: 50px 30px;

    @include breakpoint-pc {
      text-align: left;
      place-self: center;
      padding: 50px 30px;
      max-height: 500px;
      overflow: auto;
    }
  }
  &pic {
    width: 100%;

    @include breakpoint-pc {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: cover;
    }
  }
  &heading {
    font-family: $secondary-font;
    font-weight: $font-weight-bold;
    font-size: 3.2rem;
    color: $dark-navy-blue;
    line-height: $heading-line-height;
    margin-bottom: 9.52380952381%;
    // margin-bottom: 30px;
  }
  &txt {
    margin-bottom: 9.52380952381%;
    // margin-bottom: 30px;

    @include breakpoint-pc {
      max-width: 460px;
    }
  }
  &link {
    display: inline-block;
    font-family: $secondary-font;
    font-weight: $font-weight-bold;
    color: $dark-navy-blue;
    position: relative;
    line-height: 1.6;
    @extend %uppercase;

    &::after {
      content: '';
      position: absolute;
      left: -8px;
      bottom: 0;
      z-index: -1;
      display: block;
      width: calc(100% + 16px);
      border-radius: 100px;
      height: 10px;
      opacity: 0.2;
      transition: opacity 0.5s;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &link--yellow {
    &::after {
      background-color: $yellow;
    }
  }
  &link--red {
    &::after {
      background-color: $red;
    }
  }
}

// component-service-card

@include breakpoint-pc {
  .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.service-card {
  padding: 400px 30px 50px;
  text-align: center;

  .heading {
    font-family: $secondary-font;
    font-weight: $font-weight-bold;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .txt {
    @extend %margin-center;
    max-width: 380px;
    max-height: 180px;
    overflow: auto;
  }

  &--design {
    color: $dark-green;
    @include background {
      background-image: url('/assets/image-graphic-design.jpg');
    }
  }
  &--photography {
	color: $dark-blue;
    @include background {
      background-image: url('/assets/image-photography.jpg');
    }
  }
}

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@include breakpoint-pc {
	  grid-template-columns: repeat(4, 1fr);
	}
}