@import 'base/resets';
@import 'base/typography';

@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/animations';

@import 'layout/client';
@import 'layout/header';
@import 'layout/gallery';
@import 'layout/footer';

/* Smooth behavior */
html {
	scroll-behavior: smooth;
}

body {
	font-family: $primary-font;
	background-color: $bg-white-cream;
	color: $dark-blue;
	font-size: 18px;
}

li {
	display: inline;
}

aside {
	display: flex;
	flex-flow: row wrap;
	img {
		width: 25vw;
	}
}

@media screen and (max-width: 481px) {
	aside img {
		width: 50%;
	}

	.gallery {
		width: 100%;
	}
}