/* @import 'base/resets';
@import 'base/typography';

@import 'helpers/variables';


@import 'layout/header';
@import 'layout/gallery';
 */
/*

li {
	display: inline;
} */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #fffbf5;
  color: #818398;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */
html {
  /* 62.5% to set 1rem to 10px */
  font-size: 62.5%;
}

.header nav, .footer__list, .service-card .txt {
  margin-left: auto;
  margin-right: auto;
}

.header .title, .feedback .heading, .global-nav__link--contact, .feature-card__link {
  text-transform: uppercase;
}

/* Colors */
/* Fonts */
/* --- Font --- */
/* ---- breakpoint ---- */
@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.header {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/image-header.jpg");
  min-width: 100vw;
  height: 100vh;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .header {
    background-image: url("/assets/image-header.jpg");
  }
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 92.5vw;
  margin-bottom: 130px;
}

@media screen and (min-width: 760px) {
  .header nav {
    margin-bottom: 100px;
    padding-top: 35px;
  }
}

.header .arrow {
  -webkit-animation: upanddown 2.25s infinite;
          animation: upanddown 2.25s infinite;
  position: absolute;
  left: 48.75%;
  top: 45%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 420px) {
  .header .arrow {
    left: 47.5%;
    width: 30px;
    height: 108px;
  }
}

.header .title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: white;
  line-height: 1.2;
  margin-top: 100px;
  letter-spacing: 8.75px;
}

@media screen and (max-width: 420px) {
  .header .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 760px) {
  .header .title {
    font-size: 5.6rem;
  }
}

.header .contact {
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #19536b;
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2537);
}

.feedback {
  padding: 13.3333333333% 10.6666666667%;
}

@media screen and (min-width: 760px) {
  .feedback {
    padding: 140px 80px;
  }
}

.feedback .heading {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  text-align: center;
  color: #a6a8ab;
  letter-spacing: 5px;
  font-size: 2rem;
}

@media screen and (min-width: 760px) {
  .feedback .client-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}

.feedback .client {
  width: 350px;
  text-align: center;
  padding-top: 50px;
}

@media screen and (min-width: 760px) {
  .feedback .client {
    padding-top: 70px;
  }
}

.feedback .client__image {
  width: 70px;
  border-radius: 100%;
}

.feedback .client__feedback {
  max-width: 350px;
  font-size: 1.8rem;
  color: #5b636b;
  margin: 30px auto;
  /* Accurate design :) */
  letter-spacing: -0.13px;
  line-height: 1.8em;
}

@media screen and (min-width: 760px) {
  .feedback .client__feedback {
    margin: 50px auto;
  }
}

.feedback .client__name {
  font-family: "Fraunces", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: #24303d;
  margin-bottom: 10px;
}

.feedback .client__job {
  font-size: 1.4rem;
  color: #7f8294;
}

.footer {
  background-color: #8dd3c4;
  text-align: center;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer img {
  margin: 3em 1.5em;
}

.footer img:hover {
  fill: white;
}

.footer__list {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.footer__list--link {
  display: inline;
  font-size: 1.8rem;
  color: #2d7668;
  text-decoration: none;
  margin: 0 28px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__list--link:hover {
  color: white;
}

.footer__FEM {
  font-size: 1.25rem;
  font-weight: 400;
  color: #2d7668;
}

.footer__FEM a {
  color: white;
  font-weight: 600;
}

.social {
  margin-bottom: 60px;
}

.social--link {
  padding: 0.75em;
  color: #2d7668;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2rem;
}

.social--link:hover {
  color: white;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -9999;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header .global-nav {
  margin-bottom: 130px;
}

@media screen and (min-width: 760px) {
  .header .global-nav {
    margin-bottom: 100px;
  }
}

.global-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---- if JavaScript is detected ---- */
.js .global-nav__menu-btn {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 760px) {
  .js .global-nav__menu-btn {
    display: none;
  }
}

.js .global-nav__menu {
  display: none;
}

@media screen and (min-width: 760px) {
  .js .global-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    position: static;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.js .global-nav__menu::after {
  content: '';
  position: absolute;
  top: -19px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #ffffff transparent;
}

@media screen and (min-width: 760px) {
  .js .global-nav__menu::after {
    display: none;
  }
}

.js .global-nav__menu--active {
  display: block;
}

/* ---- if JavaScript is not detected ---- */
.global-nav__menu-btn {
  display: none;
}

.global-nav__menu {
  position: absolute;
  width: 100%;
  top: 70px;
  padding: 20px 0;
  background-color: white;
}

@media screen and (min-width: 760px) {
  .global-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    position: static;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.global-nav__item {
  margin: 15px 0;
}

@media screen and (min-width: 760px) {
  .global-nav__item {
    margin: 0 10px;
  }
}

.global-nav__link {
  display: inline-block;
  color: #a6a8ab;
  padding: 15px 30px;
  border-radius: 100px;
}

@media screen and (min-width: 760px) {
  .global-nav__link {
    color: white;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
  }
}

.global-nav__link--contact {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: #24303d;
  background-color: white;
}

@media screen and (max-width: 420px) {
  .global-nav__link--contact {
    background-color: #fad400;
    color: black;
  }
}

@media screen and (min-width: 760px) {
  .global-nav__link--contact:hover {
    background-color: rgba(255, 255, 255, 0.2537);
    color: white;
  }
}

@media screen and (min-width: 760px) {
  .feature-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .feature-card:nth-of-type(odd) .feature-card__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.feature-card__content {
  text-align: center;
  padding: 13.3333333333% 8%;
}

@media screen and (min-width: 760px) {
  .feature-card__content {
    text-align: left;
    place-self: center;
    padding: 50px 30px;
    max-height: 500px;
    overflow: auto;
  }
}

.feature-card__pic {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .feature-card__pic {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: cover;
  }
}

.feature-card__heading {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  color: #24303d;
  line-height: 1.2;
  margin-bottom: 9.52380952381%;
}

.feature-card__txt {
  margin-bottom: 9.52380952381%;
}

@media screen and (min-width: 760px) {
  .feature-card__txt {
    max-width: 460px;
  }
}

.feature-card__link {
  display: inline-block;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: #24303d;
  position: relative;
  line-height: 1.6;
}

.feature-card__link::after {
  content: '';
  position: absolute;
  left: -8px;
  bottom: 0;
  z-index: -1;
  display: block;
  width: calc(100% + 16px);
  border-radius: 100px;
  height: 10px;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.feature-card__link:hover::after {
  opacity: 1;
}

.feature-card__link--yellow::after {
  background-color: #fad400;
}

.feature-card__link--red::after {
  background-color: #fe7867;
}

@media screen and (min-width: 760px) {
  .service-card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.service-card {
  padding: 400px 30px 50px;
  text-align: center;
}

.service-card .heading {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 30px;
}

.service-card .txt {
  max-width: 380px;
  max-height: 180px;
  overflow: auto;
}

.service-card--design {
  color: #2d7668;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/image-graphic-design.jpg");
}

.service-card--photography {
  color: #19536b;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/image-photography.jpg");
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 760px) {
  .gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */