.feedback {
  padding: 12.5% 10%;
  @include breakpoint-pc {
    padding: 140px 80px;
  }
  .heading {
    font-family: $secondary-font;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $grayish-white;
    letter-spacing: 5px;
    font-size: $font-heading-client;
    @extend %uppercase;
    @include breakpoint-phone {
      font-size: 1.6rem;
    }
  }
  
  @include breakpoint-pc {
    .client-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);  
      place-items: center;
    }
  }

  .client {
    width: 350px;
    text-align: center;
    padding-top: 80px;
    &__image {
      width: 70px;
      border-radius: 100%;
    }
    &__feedback {
      max-width: 350px;
      font-size: $font-text;
      color: $dark-grayish-blue;
      margin: 30px auto;
      @include breakpoint-pc {
          margin: 50px auto;
      }
      /* Accurate design :) */
      letter-spacing: -0.13px;
      line-height: 1.8em;
    }
    &__name {
        font-family: $secondary-font;
        font-size: $font-text;
        font-weight: $font-weight-bold;
        color: $dark-navy-blue;
        margin-bottom: 10px;
    }
    &__job {
        font-size: $font-client-job;
        color: $grayish-blue;
    }
  }   
}