.feedback {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 9em 0;
	h3 {
		font-family: $secondary-font;
        font-size: $font-heading-client;
		color: $grayish-white;
		text-transform: uppercase;
		letter-spacing: 5px;
		padding-bottom: 4.5em;
	}
}

.client__container {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    @include mediaQuery-phone {
		background-color: blue;
	}
}

.client {
	width: 350px;
	text-align: center;
	&__image {
        width: 70px;
		border-radius: 100%;
	}
    &__feedback {
        font-size: $font-text;
        max-width: 350px;
        color: $dark-grayish-blue;
        margin: 30px auto 75px auto;
        /* Accurate design :) */
        letter-spacing: -0.13px;
        line-height: 1.8em;
    }
    &__name {
        font-family: $secondary-font;
        font-size: $font-text;
        font-weight: $font-weight-bold;
        color: $dark-navy-blue;
        margin-bottom: 10px;
    }
    &__job {
        font-size: $font-client-job;
        color: $grayish-blue;
    }
}