main {
	display: flex;
	flex-flow: row wrap;
}

.feature__ {
	min-width: 400px;
	width: 50vw;
	height: 600px;
	&container {
		width: 50vw;
		text-align: left;
    	padding: 13.33% 8%;
	}
	&heading {
		font-family: $secondary-font;
		font-size: $font-heading-feature;
		width: 445px;
		color: $dark-navy-blue;
	}
	&text {
		font-size: $font-text;
		color: $grayish-blue;
		padding: 4em 0;
		letter-spacing: -0.13px;
		line-height: 30px;
		width: 445px;
	}
	&link {
		font-family: $secondary-font;
		font-size: $font-text;
		display: inline-block;
		color: $dark-navy-blue;
		position: relative;
		line-height: 1.6;
		@extend %uppercase;
		@extend %linkreset;
	
		&::after {
		  content: '';
		  position: absolute;
		  left: -8px;
		  bottom: 0;
		  z-index: -1;
		  display: block;
		  width: calc(100% + 16px);
		  border-radius: 100px;
		  height: 10px;
		  opacity: 0.25;
		  transition: 0.5s;
		}
		/* Hover state */
		&:hover::after {
			opacity: 1;
		}
	}
	&link--yellow {
		&::after {
		background-color: $yellow;
		}
	}
	&link--red {
		&::after {
		background-color: $red;
		}
	}
	&design {
		padding: 400px 30px 50px;
  		text-align: center;
		color: $desaturate-cyan;
		@include background {
		background-image: url('/assets/image-graphic-design.jpg');
		}
	}
	&photography {
		padding: 400px 30px 50px;
  		text-align: center;
		color: $dark-blue;
		@include background {
		background-image: url('/assets/image-photography.jpg');
		}
	}
}

.heading {
    font-family: $secondary-font;
	font-size: $font-heading-art;
    font-weight: $font-weight-bold;
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.text {
	max-width: 350px;
    max-height: 180px;
	font-size: $font-text-art;
	font-weight: $font-weight-text;
	margin: 0 auto;
	line-height: 27px;
}
