main {
	display: flex;
	flex-flow: row wrap;
}

.feature__ {
	min-width: 400px;
	width: 50vw;
	height: 600px;
	&container {
		width: 50vw;
	}
	&heading {
		font-family: $secondary-font;
		font-size: 2.2em;
		width: 445px;
	}
	&text {
		color: $grayish-blue;
		padding: 4em 0;
		letter-spacing: -0.13px;
		line-height: 30px;
		width: 445px;
	}
	&link {
		display: inline-block;
		font-family: $secondary-font;
		color: $dark-grayish-blue;
		position: relative;
		line-height: 1.6;
		@extend %uppercase;
		@extend %linkreset;
	
		&::after {
		  content: '';
		  position: absolute;
		  left: -8px;
		  bottom: 0;
		  z-index: -1;
		  display: block;
		  width: calc(100% + 16px);
		  border-radius: 100px;
		  height: 10px;
		  opacity: 0.25;
		  transition: 0.5s;
		}
		/* Hover state */
		&:hover::after {
		  opacity: 1;
		}
	  }
	  &link--yellow {
		&::after {
		  background-color: $yellow;
		}
	  }
	  &link--red {
		&::after {
		  background-color: $red;
		}
	  }
    .info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	/* a {
		font-family: $secondary-font;
		text-transform: uppercase;
		text-decoration: none;
		color: $dark-blue;
        
	} */
}

.gallery.cherry {
	h3 {
		font-family: $secondary-font;
		font-size: 1.5em;
	}
}

.gallery.orange {
	h3 {
		font-family: $secondary-font;
		font-size: 1.5em;
	}
}

.cherry {
	background-image: url("/assets/image-graphic-design.jpg");
	text-align: center;
	p {
		position: absolute;
		top: 50px;
	}
}

.orange {
	background-image: url("/assets/image-photography.jpg");
	text-align: center;
	p {
		position: absolute;
		top: 50px;
	}
}