.feature {
	&__container {
	  text-align: center;
	  padding: 13.3333333333% 10%;
  
	  @include breakpoint-pc {
      text-align: left;
      place-self: center;
      padding: 50px 30px;
      max-height: 500px;
      overflow: auto;
	  }
	}
	&__image {
	  width: 100%;
  
	  @include breakpoint-pc {
		width: 100%;
		height: 100%;
		-o-object-fit: contain;
		object-fit: cover;
	  }
	}
	&__heading {
	  font-family: $secondary-font;
	  font-weight: $font-weight-bold;
	  font-size: 3.2rem;
	  color: $dark-navy-blue;
	  line-height: $heading-line-height;
	  margin-bottom: 10%
	}
	&__text {
	  margin-bottom: 10%;
    line-height: 30px;
  
	  @include breakpoint-pc {
		max-width: 460px;
	  }
	}
	&__link {
	  display: inline-block;
	  font-family: $secondary-font;
	  font-weight: $font-weight-bold;
	  color: $dark-navy-blue;
	  position: relative;
	  line-height: 1.6;
	  @extend %uppercase;
  
	  &::after {
      content: '';
      position: absolute;
      left: -8px;
      bottom: 0;
      z-index: -1;
      display: block;
      width: calc(100% + 16px);
      border-radius: 100px;
      height: 10px;
      opacity: 0.25;
      transition: opacity 0.5s;
	  }
	  &:hover::after {
		  opacity: 1;
	  }
	}
	&__link--yellow {
	  &::after {
		  background-color: $yellow;
	  }
	}
	&__link--red {
	  &::after {
		  background-color: $red;
	  }
	}
}
  // component-service-card

@include breakpoint-pc {
  .service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.service-card {
  padding: 400px 30px 50px;
  text-align: center;

  .heading {
    font-family: $secondary-font;
    font-size: $font-heading-art;
    font-weight: $font-weight-bold;
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
  
  .text {
    max-width: 350px;
    max-height: 180px;
    font-size: $font-text-art;
    font-weight: $font-weight-text;
    margin: 0 auto;
    line-height: 27px;
  }

  &__design {
    color: $desaturate-cyan;
    @include background {
    background-image: url('/assets/image-graphic-design.jpg');
    }
  }
  &__photography {
    color: $dark-blue;
    @include background {
      background-image: url('/assets/image-photography.jpg');
    }
  }
}

@include breakpoint-pc {
  .feature-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    // Alternate picture and description on mobile
    &:nth-of-type(odd) {
      .feature {
        &__container{
          order: -1;
        }
      }
    }
  }
}