h1 {
	font-family: $secondary-font;
	font-size: $font-title-header;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 8.75px;
	margin-top: 100px;
	@include mediaQuery-phone {
		font-size: 4rem;
		color: red;
	}
}

/* NavBar display */
nav {
	width: calc(100vw - (96px));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 60px;
	li {
		@include mediaQuery-phone {
			display: none;
		}
	}
	a {
		font-size: $font-text;
		text-decoration: none;
		color: $white;
		margin-left: 50px;
	}
	button {
		@include mediaQuery-pc {
			display: none;
		}
	}
}

.contact {
	font-family: $secondary-font;
	font-size: $font-link;
	text-transform: uppercase;
	color: $dark-blue;
	background-color: $white;
	padding: 1em 1.5em;
	border-radius: 50px;
	transition: 0.5s;
	&:hover {
		color: $white;
		background-color: $contact-bg-hover;
	}
}

header {
	background: url("/assets/image-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-width: 100vw;
	height: 100vh;
	text-align: center;
}

.arrow {
    animation: upanddown 2.25s infinite;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, 0);
}