 .header {
	@include background {
		background-image: url("/assets/image-header.jpg");
	}
	@include breakpoint-pc {
		background-image: url("/assets/image-header.jpg");
	}
	min-width: 100vw;
	min-height: 100vh;
	text-align: center;
	nav {
		display: flex;
    	justify-content: space-between;
    	@extend %margin-center;
	  	margin-bottom: 130px;
	  	@include breakpoint-pc {
			margin-bottom: 100px;
			padding: 35px;
		}
	}
  
	.arrow {
	  animation: upanddown 2.25s infinite;
	  position: absolute;
	  left: 48.75%;
	  top: 45%;
	  transform: translate(-50%, 0);
	  @include breakpoint-phone {
		  left: 47.5%;
		  width: 30px;
		  height: 108px;
	  }
	}
	.title {
		font-family: $secondary-font;
		font-weight: $font-weight-bold;
		color: $white;
		line-height: $heading-line-height;
		margin-top: 100px;
		letter-spacing: 8.75px;
		@extend %uppercase;
	
		@include breakpoint-phone {
		  font-size: $font-heading;
		}
	
		@include breakpoint-pc {
		  font-size: $font-title-header;
		}
	}

	.contact {
		font-family: $secondary-font;
		font-size: $font-link;
		text-transform: uppercase;
		color: $dark-blue;
		background-color: $white;
		padding: 1em 1.5em;
		border-radius: 50px;
		transition: 0.5s;
		&:hover {
			color: $white;
			background-color: $contact-bg-hover;
		}
	}
  }